* {
  font-family: serif;
  font-weight: normal;
  color: white;
}

.container {
  flex-flow: wrap;
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

html {
  background-color: #1996da;
}

.col1 {
  flex-basis: calc(50% / 3);
}

.widpic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 5px solid;
}

.col2 {
  display: flex;
  flex-basis: calc(100% / 3);
}
