.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  margin: 0 auto;
}

.container.active {
  background-color: #111;
}

.click-button {
  margin: 0 auto;
  border: none;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #faea83;
  box-shadow: 5px 5px 7px rgb(254, 241, 190);
}

.click-button.active {
  background-color: #252525;
  box-shadow: 5px 6px 7px rgb(10, 10, 11);
}
